<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta de Motocicletas</title>
    <link rel="stylesheet" href="static/css/styleConsultCris.css">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <script src="static/js/appConsultCris.js"></script>
</head>
<body>
    <div class="banner">
        <h1>Concesionario de Motocicletas</h1>
        <div class="signature">Cristian Segura</div>
    </div>
    <div class="container">
        <h1>Consulta de Inventario</h1>
        <div class="form-group">
            <label for="ident">Id:</label>
            <input type="text" id="ident" name="ident">
        </div>
        <div class="form-group">
            <label for="result">Resultado:</label>
            <textarea id="result" name="result" rows="4" cols="50"></textarea>
        </div>
        <div class="form-group">
            <label for="photo">Foto:</label>
            <img id="photo" src="" alt="Foto de la motocicleta" style="width: 100%; height: auto; display: none;">
        </div>
        <button onclick="consult_inventory()">Consultar</button>
        <a href="/home_page" class="button">Volver al Inicio</a>
    </div>
</body>
</html>
