<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home - Concesionario de Motocicletas</title>
    <link rel="stylesheet" href="static/css/styleHomeCris.css">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
    <div class="banner">
        <h1>Concesionario de Motocicletas</h1>
        <div class="signature">Cristian Segura</div>
    </div>
    <div class="container">
        <h1>Bienvenido</h1>
        <p>Seleccione una opción:</p>
        <div class="button-group">
            <a href="/register_page" class="button">Registrar Motocicleta</a>
            <a href="/consult_page" class="button">Consultar Inventario</a>
        </div>
    </div>
</body>
</html>
